.game {
    margin: 0;
    width: 400px;
    height: 800px;
    background-color: black;
    border: 1px solid red;
    position: relative;
}
.person {
    width: 40px;
    height: 30px;
    background-color: blue;
    position: absolute;
}
.plataform {
    width: 70px;
    height: 15px;
    background-color: green;
    position: absolute;
}